.o_control_panel {
  display:none !important;
}

.centered {
  position: fixed !important;
  top: 50% !important;
  left: 73% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 40px !important;
}

.pizza_main_image{
	transform: translateY(0px);
    transition-duration: .3s;
}
.pizza_main_image:hover{
	transform: translateY(6px);
    transition-duration: .3s;
}

.o_kanban_record {
    border-radius: 0 !important;
}

.btn-outline-warning{
    background-color: #f3e7dc;
    color: #d15800;
    border: 0 !important;
    border-radius: 30px;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.btn-outline-warning:hover {
    background-color: #ffcaae;
    color: #d15800;
    border: 0 !important;
    border-radius: 30px;
}

.modal-content {
    border-radius: 30px;
}

.container {
    border-radius: 20px;
}

.o_main_navbar {
    background-color: transparent;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    backdrop-filter: blur(30px);
    border: 0;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, .05);
}
/*.o_action_manager {*/
/*    padding-top: 46px;*/
/*}*/




.o_kanban_renderer .oe_kanban_card:focus-visible.oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus-visible.oe_kanban_global_click_edit, .o_kanban_renderer .oe_kanban_card:focus-visible .oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus-visible .oe_kanban_global_click_edit, .o_kanban_renderer .oe_kanban_card:focus-within.oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus-within.oe_kanban_global_click_edit, .o_kanban_renderer .oe_kanban_card:focus-within .oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus-within .oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus-visible.oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus-visible.oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus-visible .oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus-visible .oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus-within.oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus-within.oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus-within .oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus-within .oe_kanban_global_click_edit {
     outline: thin solid rgba(255, 0, 0, 0) !important;
}

.modal {
    animation: 0.25s show ease;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-header {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
}

.o_form_nosheet {
    --formView-sheet-padding-y: 0px !important;
    /*--formView-sheet-padding-x: 0px !important;*/
}
.o_form_statusbar {
    margin-bottom: 0px !important;
}
